<div class="home">
  <div class="column left">
    <div class="datepicker">
      <h5>Pick a date:</h5>
      <input type="date" name="datepicker" id="datepicker">
    </div>
    <div class="categories">
      <h5>Pick a category</h5>
      <ul>
        <li><a href="#">Antiques</a></li>
        <li><a href="#">Cars</a></li>
        <li><a href="#">Event Tickets</a></li>
        <li><a href="#">Holidays</a></li>
        <li><a href="#">Collectables</a></li>
      </ul>
    </div>
  </div>
  <div class="column center">
    <h5>Auctions that expire today:</h5>
    <div class="auctions">
      <div class="auction-item">
        <a href="" target="_blank">
          <img src="assets/images/auction/rallytruck.jpg" alt="rallytruck">
        </a>
      </div>
      <div class="auction-item">
        <a href="" target="_blank">
          <img src="assets/images/auction/ticket.jpeg" alt="ticket">
        </a>
      </div>
      <div class="auction-item">
        <a href="" target="_blank">
          <img src="assets/images/auction/books.jpeg" alt="books">
        </a>
      </div>
      <div class="auction-item">
        <a href="" target="_blank">
          <img src="assets/images/auction/lamp.jpg" alt="lamp">
        </a>
      </div>
      <div class="auction-item">
        <a href="" target="_blank">
          <img src="assets/images/auction/car.jpg" alt="car">
        </a>
      </div>
    </div>
  </div>
  <div class="column right">
    <h5>Original Race Truck Paris-Dakar</h5>
    <p>A unique object for sale! The truck of team 'Gerald De Rooy' that has competed in the Paris-Dakar race of 2017
      and finished 3<sup>rd</sup> position. The truck will be delivered inclusive of some €10,000 worth of spare parts.</p>
    <p><b>Engine:</b> IVECO Cusor, 13 liter</p>
    <p><b>Power:</b> 900 Hp, 4x4 transmission</p>
    <p><b>Highest Bid:</b> €87,000</p>
    <p><b>Auction closes at 18:00 GMT today!</b></p>
  </div>
</div>
